<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
  </head>

  <style>
    {{ custom_css or '' }}
  </style>

  <body>
    <section
      class="hero is-fullheight {{ 'is-' + color }} {{ 'is-bold' if bold }} {{ 'has-text-centered' if center }}"
    >
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ title | markdown }}
          </h1>
          <h2 class="subtitle">
            {{ subtitle | markdown }}
          </h2>
        </div>
      </div>
    </section>
  </body>
</html>
